/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

header, footer {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: white;
}

nav ul li a {
    color: white;
}

.hero {
    background-color: #1e1e1e; /* Dark background for hero section */
}

button {
    background-color: #2a28; /* Dark button background */
    color: white;
}

.form {
    background-color: #1e1e1e; /* Dark background for form */
}

input, textarea {
    background-color: #333; /* Dark input background */
    color: #ffffff; /* Light text color */
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .hero {
        padding: 20px;
    }
}

body {
    background-image: url('images/back2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 100%; /* Updated to fit full width */
    margin: 0; /* Centering removed */
    padding:0;
}

header {
    background-color: rgba(31, 31, 31, 0.8);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.8em; /* Reduced font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin */
}

nav ul li a {
    color: #acd223;
    text-decoration: none;
    font-size: 1em; /* Reduced font size */
}

nav ul li a:hover {
    color: #26ae1c;
}

.hero {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0; /* Updated to fit full width */
    border-radius: 0px;
}

.hero h2 {
    font-size: 2em; /* Reduced font size */
}

.hero p {
    font-size: 1em; /* Reduced font size */
}

.hero button {
    background-color: #acd223;
    border-radius: 0px;
    color: #4d7b57;
    padding: 10px 20px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Reduced font size */
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.hero button:hover {
    background-color: #464d27;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 0px;
    margin: 0; /* Updated to fit full width */
}

.contact-info h2 {
    font-size: 1.5em; /* Reduced font size */
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1em; /* Reduced font size */
    margin: 5px 0;
}

footer {
    background-color: rgba(31, 31, 31, 0.8);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}



.nav-links {
position: absolute;
top: 20px;
right: 30px;
}

.register-btn {
display: inline-block;
padding: 10px 20px;
background-color: #333;
color: white;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
transition: background-color 0.3s ease;
}

.register-btn:hover {
background-color: #4CAF50;
transform: scale(1.05);
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .hero {
        padding: 20px;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: transparent; /* Transparent background */
    background-image: url('images/5.jpeg'); /* Background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    color: #ffffff; /* Light text color */
}

header {
    background-color: rgba(30, 30, 30, 0.8); /* Slightly lighter dark shade with transparency */
    color: white;
    text-align: center;
}

 nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


section {
    background-color: rgba(30, 30, 30, 0.8); /* Slightly lighter dark shade with transparency */
    margin: 20px;
    border-radius: 10px;
    text-align:left;
}

footer {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

header {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

section {
    background-color: #1e1e1e; /* Dark background for section */
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url('images/1.jpeg');
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    min-width: 300px;
}
@media (max-width: 768px) {
    body{
        max-width: 100%;
    }
}

header {
    background-color: rgba(31, 31, 31, 0.8);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em; /* Reduced font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em; /* Reduced font size */
}

nav ul li a:hover {
    color: #38b45b;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background for form */
    border-radius: 5px;
}

.form label {
    display: flex;
    margin-bottom: 30px;
    color: #ffffff; /* Light text color */
}

.form input, .form textarea, .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333; /* Dark input background */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 40px;
}

.form button {
    background-color: #64685d;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #5f7559;
}

footer {
    background-color: rgba(31, 31, 31, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.social-icons a:hover {
    color: #ff9800;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color colors*/
}

header {
    background-color:rgb(53, 59, 61); /* Slightly lighter dark shade */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

section {
    background-color:transparent; /* Dark background for section */
    padding: 20px;
    border-radius: 5px;
    background-image: url("images/2.jpeg");
    background-position: center;
    color:rgb(27, 32, 41);
}

footer {
    background-color: #1e1e1e; /* Slightly lighter dark shade */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

