body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}
header {
    text-align: center;
    background-color: #3a86ff;
    color: #fff;
    padding: 20px 0;
}
nav {
    text-align: center;
    background-color: #00509d;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}
nav a:hover {
    background-color: #0073e6;
    border-radius: 5px;
}
main {
    padding: 20px;
    text-align: center;
}
main img {
    width: 100%;
    height: auto;
}
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
form label {
    display: block;
    margin: 10px 0 5px;
}
form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
form button {
    background-color: #00509d;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0073e6;
}
footer {
    text-align: center;
    background-color: #3a86ff;
    color: #fff;
    padding: 10px 0;
}
html {
    scroll-behavior: smooth;
  }
  
